.member-container{
    display: flex;
    justify-content: space-between;
}
.member-container .member-infos{
    margin-left: 10%;
    margin-top: 15%;
}

.member-container .member-infos h1{
    color: var(--title-color);
    margin-top:50px;
    font-size:40px
}
.member-container img{
    right:0;
    top: 0;
    width:50%;
}

.intro-inputs{
    margin-top:25px;
    display: flex;
}

.member-infos input{
    background-color: transparent;
    padding:10px;
    border-radius:5px;
    border: 1px solid var(--title-color);
    width:225px;
    height:25px;

    font-size:16px;
    outline: none;
}

.member-infos button{
    color: white;
    margin-left: 25px;
    padding:15px;
    border: none;
    border-radius: 5px;
    background-color:var(--green);
    font-size:15px;
    cursor: pointer;
    transition: all 0.5s
}

.member-container .member-infos button:hover{
    background-color:rgb(110, 197, 76);
}

@media only screen and (max-width: 1150px){
    .member-container{
        justify-content:center;
        padding:50px 0
    }
    .member-container h1{
        text-align: center;
    }
    .member-container .intro-infos{
        justify-content:center;
        margin-left: 0;
    }
    .intro-inputs{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .member-container img{
        display: none;
    }
    
    .member-container .member-infos h1{
        font-size:55px
    }
    .member-container .member-infos{
        margin: 0;
    }
}

@media only screen and (max-width: 700px){
    .member-container .member-infos h1{
        font-size:45px
    }
}