.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:80px;
}

.footer-container h1{
    color: var(--title-color);
    font-size: 18px;
}

.privacy-terms{
    display: flex;
}

.privacy-terms p{
    margin: 10px;
    color: var(--subtitle-color);
}

@media only screen and (max-width: 1150px){
    .footer-container{
        margin-top:50px
    }
}


@media only screen and (max-width: 800px){
    .footer-container h1{
        font-size:12px;
        margin: 0 5px;
    }
    .privacy-terms p{
        font-size:12px
    }
}