.blog-container{
    background-color: var(--gray-bg);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: relative;
}

.container-cards{
    overflow: hidden;
    width: 80%;
    
}
.gradient{
    width:250px;
    height: 450px;
    background:linear-gradient(to left, rgb(253, 253, 253) 1%,transparent 80%)  !important;
    position:absolute;
    right:10%
}

.carrousel-cards{
    display: flex;
    transition:.7s;
    width: 100%;
    
}

.blog-icon-right,
.blog-icon-left{
    color: var(--green);
    font-size:28px;
    padding: 10px;
    background-color: white;
    border-radius:50%;
    cursor: pointer;
    position:absolute;
    top: 65%;
    z-index: 999;
}

.blog-icon-left{
    left:5%
}

.blog-icon-right{
    right:5%
}